@import '../../styles/responsive';

.maincontainer {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    height: auto;
    margin: 0;
}

.form__label {
    display: flex;
    align-items: flex-start;
    margin-bottom: 8px;
}

.fildset {
    margin-top: 20px;
}
.form-control {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    padding: 9px 12px;
    height: 40px;
    background: #ffffff;
    border: 1px solid rgba(60, 66, 87, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
}

.card-radius {
    border-radius: 8px 8px 0px 0px;
}
.date-radius {
    border-radius: 0px 0px 0px 8px;
}
.cvc-radius {
    border-radius: 0px 0px 8px 0px;
}

.order-0 {
    border: 1px solid rgba(60, 66, 87, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.04);
    border-radius: 8px 8px 0px 0px;
    border-radius: 8px 8px 0px 0px;
    margin-bottom: 0px;
}

.country-radius {
    border-radius: 8px 8px 0px 0px;
}

.zipCode-radius {
    border-radius: 0px 0px 8px 8px;
}

.alert,
.alert-size {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    width: 125px;
    height: 21px;
    padding: 5px;
    margin: 0 10px;
}
.alert-size {
    width: 140px;
    margin: 0 10px;
}
