.maincontainer {
    display: flex;
    flex-direction: column;
    padding: 0px;
    height: auto;
    margin: 0 24px;
}

.form__label {
    margin-bottom: 8px;
}

.fildset {
    margin-top: 20px;
}
.form-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 9px 12px;
    height: 40px;
    left: 0px;
    right: 0px;
    top: 30px;
    width: 100%;
    background: #ffffff;
    border: 1px solid rgba(60, 66, 87, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
}

.order-0 {
    border: 1px solid rgba(60, 66, 87, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.04);
    border-radius: 8px 8px 0px 0px;
    border-radius: 8px 8px 0px 0px;
    margin-bottom: 0px;
}

.form-control-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 9px 12px;
    position: static;
    height: 40px;
    left: 0px;
    right: 210px;
    top: 0px;
    width: 50%;
    background: #ffffff;
    border: 1px solid rgba(60, 66, 87, 0.12);
    box-sizing: border-box;
    border-radius: 0px 0px 0px 8px;
}

.form-control-cvc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 9px 12px;

    position: static;
    height: 40px;
    left: 211px;
    right: 0px;
    top: 0px;
    width: 50%;
    background: #ffffff;
    border: 1px solid rgba(60, 66, 87, 0.12);
    box-sizing: border-box;
    border-radius: 0px 0px 8px 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}

.form-control-country {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 9px 12px;
    height: 40px;
    left: 0px;
    right: 0px;
    width: 100%;
    margin-top: 8px;
    background: #ffffff;
    border: 1px solid rgba(60, 66, 87, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.04);
    border-radius: 8px 8px 0px 0px;
}

.form-control-zipCode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 9px 12px;
    height: 40px;
    left: 0px;
    right: 0px;
    top: 343px;
    width: 100%;
    background: #ffffff;
    border: 1px solid rgba(60, 66, 87, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.04);
    border-radius: 0px 0px 8px 8px;
}

.alert,
.alert-size {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    width: 125px;
    height: 21px;
    padding: 5px;
    margin: 0 10px;
}
.alert-size {
    width: 140px;
    margin: 0 10px;
}
