.product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__image-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__img {
        width: 175.94px;
        height: 100px;
        margin: 0 auto;
    }
    &__title {
        width: 82px;
        height: 24px;
        margin: 8px 0px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #697386;
    }
    &__price {
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: -0.02em;
        font-feature-settings: 'tnum' on, 'lnum' on;
        color: #1a1f36;
    }
}

.product-container-flex {
    width: 112px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.margin {
    margin-left: 8px;
}
