@import '../../styles/responsive';

.product-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #697386;
}
.product-price {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #1a1f36;
}

.margin {
    margin-left: 8px;
}
.margin-title-box {
    margin-top: 0;
    margin-bottom: 66px;
}
.margin-price-box {
    margin-top: 8px;
}
@include desktop {
    .margin {
        margin-left: 8px;
    }
    .margin-title-box {
        margin-top: 32px;
    }
    .margin-price-box {
        margin-top: 8px;
    }
}
