.footer {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    /* identical to box height, or 183% */

    letter-spacing: 0.015em;
    font-feature-settings: 'tnum' on, 'lnum' on;
    margin: 42px 0 72px 0;

    /* icon/icon-gray */

    color: #8792a2;
    &__link {
        margin: 5px 10px;
        text-decoration: none;
        color: #8792a2;
        cursor: pointer;
    }
}
a:link,
a:visited,
a:active,
a:focus {
    text-decoration: none;
    color: #8792a2;
}
